
body {
    margin: 0;
    padding: 20px;
    /* background-color: black; */
}

.title {
    text-align: center;
}

h1 {
    color: black;
}

h2 {
    color: black;
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 50px;
    color: black;
    text-align: justify;
}